<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name, placeholder: "Nom du cocktail" %>
        <%= f.submit "Go", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
